{% extends "./../base.html" %}

{% block nav-content %}
    <form class="d-grid gap-2" action="/auth">
        <input class="btn btn-primary" type="submit" value="Fuck go Back">
    </form>
{% endblock %}

{% block main-content %}

    <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3 mx-auto mt-5" style="width: 20%">
            <label for="username" class="form-label">Email</label>
            <input type="text" name="username" required class="form-control" id="username">
        </div>
        <div class="mb-3 mx-auto" style="width: 20%">
            <label for="pass" class="form-label">Password</label>
            <input type="password" name="password" required class="form-control" id="pass">
        </div>

        <div class="d-grid gap-2 mx-auto" style="width: 20%">
            {% if messages %}
                {% for message in messages %}
                    <div class="badge bg-danger text-wrap" style="font-size: 1.5rem;">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <input class="btn btn-primary" type="submit" value="Sign In"/>

        </div>
    </form>
    <{% endblock %}