{% extends "./../base.html" %}

{% block nav-content %}
    <form class="d-flex w-50" method="GET" action="">
        {% csrf_token %}
        {% for field in form %}
            <input type="{{ field.widget_type }}" name="{{ field.name }}" class="form-control me-2"
                   placeholder="Search Medicine" aria-label="Search">
        {% endfor %}
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <form class="d-grid gap-2" action="/auth">
        <input class="btn btn-success" type="submit" value="Authorization"/>
    </form>
{% endblock %}

{% block main-content %}
    <ul class="list-group mt-5 w-75 mx-auto">
        {% if medicines %}
            <li class="list-group-item d-flex justify-content-between align-items-center bg-primary ">
                <span class="text-white">Medicine</span>
                <span class="text-white">Description</span>
                <span class="text-white">Type</span>
                <span class="text-white">Fabricator</span>


            </li>
        {% endif %}

        {% for medicine in medicines %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="medicine/{{ medicine.id }}">{{ medicine.name }}</a>
                <span>{{ medicine.description }}</span>
                <span>{{ medicine.type }}</span>
                <span>{{ medicine.fabricator }}</span>


            </li>
        {% endfor %}

    </ul>
{% endblock %}
