{% extends "./../base.html" %}

{% block nav-content %}
    <form class="d-grid gap-2" action="@{/auth}" method="get">
        <input class="btn btn-success" type="submit" value="Fuck go Back">
    </form>
{% endblock %}

{% block main-content %}
    <div class="container-fluid w-75">

        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#newMedicine"
                        type="button" role="tab" aria-controls="home" aria-selected="true">New
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#existingMedicine"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Existing
                </button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="newMedicine" role="tabpanel" aria-labelledby="home-tab">
                <form method="post" action="@{'/pharmacy/' + ${pharmacyId} + '/add_product'}"
                      object="${newMedicine}">

                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label for="name" class="form-label">Name</label>
                        <input type="name" name="name" required class="form-control" id="name">
                    </div>

                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label for="description" class="form-label">Description</label>
                        <input type="name" name="description" required class="form-control" id="description">
                    </div>

                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label for="fabricator" class="form-label">Fabricator</label>
                        <input type="name" name="fabricator" required class="form-control" id="fabricator">
                    </div>

                    <select class="form-select mx-auto mt-5" required name="medicinesType" style="width: 20%">
                        <option each="type : ${types}"
                                text="${type}"
                                value="${type}">
                        </option>
                    </select>

                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label for="amountNew" class="form-label">Amount</label>
                        <input type="number" name="amount" required class="form-control" id="amountNew">
                    </div>

                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label for="priceNew" class="form-label">Price</label>
                        <input type="number" name="price" required class="form-control" id="priceNew">
                    </div>

                    <div class="d-grid gap-2">
                        <input class="btn btn-primary mx-auto" type="submit" value="Add product" width="20%"/>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="existingMedicine" role="tabpanel" aria-labelledby="profile-tab">
                <form method="post" action="@{'/pharmacy/' + ${pharmacyId} + '/add_product'}"
                      object="${newMedicine}">


                    <select class="form-select mx-auto mt-5" multiple name="id" required style="width: 20%">
                        <option each="medicine : ${medicines}"
                                text="${medicine.name}"
                                value="${medicine.id}">
                        </option>

                    </select>

                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label for="amountEx" class="form-label">Amount</label>
                        <input type="number" name="amount" required class="form-control" id="amountEx">
                    </div>

                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label for="priceEx" class="form-label">Price</label>
                        <input type="number" name="price" required class="form-control" id="priceEx">
                    </div>

                    <div class="d-grid gap-2">
                        <input class="btn btn-primary mx-auto" type="submit" value="Add product" width="20%"/>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="alert alert-success w-50 mt-5 mx-auto" role="alert" if="${registerSuccess != null}">
        <h4 class="alert-heading">New product added</h4>
    </div>
{% endblock %}