{% extends "./../base.html" %}

{% block nav-content %}
    <form class="d-grid gap-2" action="/" method="get">
        <input class="btn btn-success" type="submit" value="Fuck go Back">
    </form>
{% endblock %}

{% block main-content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if medicines %}
            <select class="form-select mx-auto mt-5" multiple name="medicine_id" required style="width: 20%">
                {% for medicine in medicines %}
                    <option value="{{ medicine.id }}">{{ medicine.name }}
                    </option>
                {% endfor %}
            </select>
        {% else %}
            {% for field in form_medicine %}
                {% if field.name == "type" %}
                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label class="form-label">{{ field.label }}   </label>
                        {{ field }}
                    </div>
                {% elif field.name == "image" %}
                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        <label class="form-label">{{ field.label }}   </label>
                        {{ field }}
                    </div>
                {% else %}
                    <div class="mb-3 mx-auto mt-5" style="width: 20%">
                        {% include "./../base_input.html" %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% for field in form %}
            <div class="mb-3 mx-auto mt-5" style="width: 20%">
                {% include "./../base_input.html" %}
            </div>
        {% endfor %}
        <div class="d-grid gap-2">
            <input class="btn btn-primary mx-auto" type="submit" value="Add product" width="20%"/>
        </div>
    </form>



{% endblock %}