{% extends "./../base.html" %}

{% block nav-content %}
    <form class="d-grid gap-2" action="/">
        <button type="submit" class="btn btn-success">
            Fuck go Back
        </button>
    </form>
{% endblock %}

{% block main-content %}
    <table class="table w-50 mx-auto">
        <thead>
        <tr>
            <th scope="col"> Info</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table_borders">
        <tr>
            <td><img class="img-fluid" src="{{ medicine.image.url }}"></td>

        </tr>
        <tr>
            <td><span> Id </span></td>
            <td><span> {{ medicine.id }}</span></td>

        </tr>
        <tr>
            <td><span> Name </span></td>
            <td><span>{{ medicine.name }}</span></td>
        </tr>
        <tr>
            <td><span> Description </span></td>
            <td><span>{{ medicine.description }}</span></td>
        </tr>
        <tr>
            <td><span> Fabricator </span></td>
            <td><span>{{ medicine.fabricator }}</span></td>
        </tr>
        <tr>
            <td><span> Type </span></td>
            <td><span>{{ medicine.type }}</span></td>
        </tr>
        </tbody>
    </table>


    <ul class="list-group mt-5 w-75 mx-auto">
        {% if products %}
            <li class="list-group-item d-flex justify-content-between align-items-center bg-primary">
                <span class="text-white">Pharmacy</span>
                <span class="text-white">Address</span>
                <span class="text-white">Amount</span>
                <span class="text-white">Price</span>
                {% if client_flag %}
                    <span class="text-white">Order</span>
                {% endif %}
            </li>
        {% endif %}

        {% for product in products %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                {% csrf_token %}

                <input type="hidden" name="product_id" value="{{ product.id }}">
                <a href="/pharmacy/{{ product.pharmacy.id }}">{{ product.pharmacy.name }}</a>
                <span>{{ product.pharmacy.address }}</span>
                <span>{{ product.amount }}</span>
                <span class="badge bg-primary rounded-pill">{{ product.price }}</span>
                {% if client_flag %}
                    <form class="d-grid gap-2" action="/medicine/{{ medicine.pk }}/make_order">
                        <button class="btn btn-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}


    </ul>
{% endblock %}